<!DOCTYPE html>
<html>
  <head>
  	{% load static %}
   <!--  <script src="js/{% static 'jss/ext.jss' %}.js"></script>

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places --> -->
           <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCUZr_tB1ctwnIDIujJAMvM3SCRGlAEefg"></script>
    	<script src="{% static 'js/extern.js' %}"></script>

       <body>
    <div class="pac-card" id="pac-card">
      <div>

        <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a location">

        </div>
    </div>

   

    	

  </body>
</html> -->